body {
  background: url("./assets/bg-desktop.jpg") no-repeat top center/cover;
}
body * {
  font-family: "Inter", sans-serif;
  color:;
}
#container {
  border: 1px solid red;
  height: 712px;
  width: 350px;
  margin-right: auto;
  margin-left: auto;
}
#profile {
  text-align: center;
}
#profile img {
  width: 150px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
