*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: url("./assets/bg-desktop.jpg") no-repeat top center/cover; 
}

body * {
  font-family: 'inter', sans-serif;
  color: white;
}

#container {
  border: 1px solid red;
  width: 360px;
  margin: auto;

  padding: 100px;

}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}